{% extends 'base.html' %}
{% load tz %}

{% block title %}Профиль - {{ user.email }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Профиль пользователя</h3>
                <a href="{% url 'profile_edit' %}" class="btn btn-primary">Редактировать</a>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Email:</strong></div>
                    <div class="col-md-9">{{ user.email }}</div>
                </div>
                
                {% if user.first_name %}
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Имя:</strong></div>
                    <div class="col-md-9">{{ user.first_name }}</div>
                </div>
                {% endif %}
                
                {% if user.last_name %}
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Фамилия:</strong></div>
                    <div class="col-md-9">{{ user.last_name }}</div>
                </div>
                {% endif %}
                
                {% if user.phone %}
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Телефон:</strong></div>
                    <div class="col-md-9">{{ user.phone }}</div>
                </div>
                {% endif %}
                
                {% if user.country %}
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Страна:</strong></div>
                    <div class="col-md-9">{{ user.country }}</div>
                </div>
                {% endif %}
                
                <div class="row mb-3">
                    <div class="col-md-3"><strong>Дата регистрации:</strong></div>
                    <div class="col-md-9">{{ user.created_at|timezone:"Europe/Moscow"|date:"d.m.Y H:i" }}</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        {% if user.avatar %}
        <div class="card">
            <div class="card-body text-center">
                <img src="{{ user.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle" style="max-width: 200px;">
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
