{% load my_tags %}
{# Универсальная карточка продукта #}
{# Параметры: product (обязательный), show_detail_button, show_time, overlay_text #}
<div class="col-md-6 mb-2 mt-2 custom-padding-left">
    <div class="card h-100 position-relative" style="height: 400px; width: 400px;">
        <img src="{{ product.photo | media_filter }}"
             class="card-img-top"
             style="height: 180px; width: 100%; object-fit: cover;" alt="">
        <div class="text-center position-absolute top-50 start-50 translate-middle text-white">
            <p class="mb-5">{% if overlay_text %}{{ overlay_text }}{% else %}{{ product.name }}{% endif %}</p>
        </div>
        <div class="card-body">
            <ul>
                <li>{{ product.name }}</li>
                <li>{{ product.description|truncatechars:100 }}</li>
            </ul>
            <div class="d-flex justify-content-between mt-auto">
                {% if show_detail_button %}
                <div>
                    <button class="btn btn-outline-dark" type="button">
                        <a href="{% url 'marketplace:product_detail' product.pk %}">Подробно</a>
                    </button>
                </div>
                {% endif %}
                {% if show_time %}
                <small class="text-muted">9 mins</small>
                {% endif %}
            </div>
        </div>
    </div>
</div>